// app global css in SCSS form

.logo {
  content: url("src/assets/logocolor.png");
  width: 35px;
  height: 40px;
}

.utem {
  content: url("../assets/utemlogo.jpg");
  width: 200px;
}

.my-menu-link {
  color: #1976d2;
}

.principal {
  background: url("src/assets/perfil.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bordes {
  border: 1px solid;
  border-radius: 10px;
  color: $blue-grey-14;
}

.espacio-ocupa {
  display: inline-block;
}

.efecto-indicadores:hover {
  cursor: pointer;
  background-color: $blue-grey-2;
}
.efecto-indicadores {
  background-color: white;
}

// metricas --------------------------------

@media only screen and (max-width: 450px) {
  .alto {
    height: 40vh /* 250px */;
  }
}
@media only screen and (min-width: 451px) {
  .alto {
    height: 50vh /* 350px */;
  }
}
@media only screen and (min-width: 600px) {
  .alto {
    height: 60vh;
  }
}

//----------------------------------------

// tableros --------------------------

.card {
  text-decoration: none;
  color: black;
}

.my-card {
  width: 262px;
}

@media only screen and (max-width: 1207px) {
  .centrar-card {
    justify-content: center;
  }
}

// page tablero ----------------------------------------------------

.principal-board {
  background: url("src/assets/fondo5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1146px) {
  .centrar-card-board {
    justify-content: center;
  }
}

.my-card-board {
  width: 350px;
  background: rgba(235, 236, 240, 0.9);
  border: 1px solid;
  border-radius: 10px;
  color: $blue-grey-14;
}

.cabeza-triste {
  --face-hue1: 0; /* normal 60 */ /* feliz 120 */ /* triste 0 */
  --face-hue2: 330; /* normal 30 */ /* feliz 90 */ /* triste  330*/
  background-image: linear-gradient(
    135deg,
    hsl(var(--face-hue1), 90%, 55%),
    hsl(var(--face-hue2), 90%, 45%)
  );
  border-radius: 50%;
  box-shadow: 0 0.5em 0.75em hsla(var(--face-hue2), 90%, 55%, 0.3);
  margin: 0 auto;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
.cabeza-normal {
  --face-hue1: 60; /* normal 60 */ /* feliz 120 */ /* triste 0 */
  --face-hue2: 30; /* normal 30 */ /* feliz 90 */ /* triste  330*/
  background-image: linear-gradient(
    135deg,
    hsl(var(--face-hue1), 90%, 55%),
    hsl(var(--face-hue2), 90%, 45%)
  );
  border-radius: 50%;
  box-shadow: 0 0.5em 0.75em hsla(var(--face-hue2), 90%, 55%, 0.3);
  margin: 0 auto;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
.cabeza-feliz {
  --face-hue1: 120; /* normal 60 */ /* feliz 120 */ /* triste 0 */
  --face-hue2: 90; /* normal 30 */ /* feliz 90 */ /* triste  330*/
  background-image: linear-gradient(
    135deg,
    hsl(var(--face-hue1), 90%, 55%),
    hsl(var(--face-hue2), 90%, 45%)
  );
  border-radius: 50%;
  box-shadow: 0 0.5em 0.75em hsla(var(--face-hue2), 90%, 55%, 0.3);
  margin: 0 auto;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}

.ojo-izq {
  background-color: black;
  left: 0.6em;
  border-radius: 50%;
  top: 0.75em;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
}
.ojo-der {
  background-color: black;
  right: 0.6em;
  border-radius: 50%;
  top: 0.75em;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
}
.boca-normal {
  color: black;
  /* border-radius: 50% 50% 0 0 / 100% 100% 0 0; */
  box-shadow: 0 0.125em 0 inset;
  top: 1.75em;
  left: 0.5em;
  width: 1.5em;
  height: 0.7em;
  position: absolute;
}
.boca-feliz {
  color: black;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  box-shadow: 0 -0.8em 0 inset;

  top: 1.7em;
  left: 0.6em;
  width: 1.3em;
  height: 0.5em;
  position: absolute;
}
.boca-triste {
  color: black;
  top: 1.6em;
  left: 0.5em;
  width: 1.5em;
  height: 0.4em;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  box-shadow: 0 0.125em 0 inset;
  position: absolute;
}
